@page "/download-file"

@inherits FileBase

<h3>File</h3>
<hr />
<button class="btn btn-link" @onclick="DownloadFile">Download file</button>
<button class="btn btn-primary" @onclick="OnClickDownloadViaHttpClientButton">
        <span class="oi oi-cloud-download" aria-hidden="true"></span>
        Download a file from in-memory byte array inside of Blazor app
    </button>
